<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggj.datacenter.business.mapper.CenterChannelMapper">
  <resultMap id="BaseResultMap" type="com.ggj.datacenter.model.vo.CenterChannelVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_status" jdbcType="INTEGER" property="channelStatus" />
    <result column="channel_type" jdbcType="INTEGER" property="channelType" />
    <result column="limit_type" jdbcType="INTEGER" property="limitType" />
    <result column="use_count" jdbcType="BIGINT" property="useCount" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, channel_name, channel_status, channel_type, limit_type, use_count, start_time, 
    end_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from center_channel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from center_channel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ggj.datacenter.model.vo.CenterChannelVo">
    insert into center_channel (id, channel_name, channel_status, 
      channel_type, limit_type, use_count, 
      start_time, end_time, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{channelName,jdbcType=VARCHAR}, #{channelStatus,jdbcType=INTEGER}, 
      #{channelType,jdbcType=INTEGER}, #{limitType,jdbcType=INTEGER}, #{useCount,jdbcType=BIGINT}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ggj.datacenter.model.vo.CenterChannelVo">
    insert into center_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channelName != null">
        channel_name,
      </if>
      <if test="channelStatus != null">
        channel_status,
      </if>
      <if test="channelType != null">
        channel_type,
      </if>
      <if test="limitType != null">
        limit_type,
      </if>
      <if test="useCount != null">
        use_count,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="channelName != null">
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null">
        #{channelStatus,jdbcType=INTEGER},
      </if>
      <if test="channelType != null">
        #{channelType,jdbcType=INTEGER},
      </if>
      <if test="limitType != null">
        #{limitType,jdbcType=INTEGER},
      </if>
      <if test="useCount != null">
        #{useCount,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ggj.datacenter.model.vo.CenterChannelVo">
    update center_channel
    <set>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null">
        channel_status = #{channelStatus,jdbcType=INTEGER},
      </if>
      <if test="channelType != null">
        channel_type = #{channelType,jdbcType=INTEGER},
      </if>
      <if test="limitType != null">
        limit_type = #{limitType,jdbcType=INTEGER},
      </if>
      <if test="useCount != null">
        use_count = #{useCount,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ggj.datacenter.model.vo.CenterChannelVo">
    update center_channel
    set channel_name = #{channelName,jdbcType=VARCHAR},
      channel_status = #{channelStatus,jdbcType=INTEGER},
      channel_type = #{channelType,jdbcType=INTEGER},
      limit_type = #{limitType,jdbcType=INTEGER},
      use_count = #{useCount,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findAll" parameterType="com.ggj.datacenter.model.vo.CenterChannelVo" resultMap="BaseResultMap">
    select * from center_channel
    <where>
      1 = 1
      <if test="channelName != null and channelName != ''">
        and channel_name = #{channelName,jdbcType=VARCHAR}
      </if>
      <if test="channelStatus != null">
        and channel_status = #{channelStatus,jdbcType=INTEGER}
      </if>
      <if test="channelType != null">
        and channel_type = #{channelType,jdbcType=INTEGER}
      </if>
      <if test="limitType != null">
        and limit_type = #{limitType,jdbcType=INTEGER}
      </if>
    </where>
    <if test="orders != null and orders != ''">
      ORDER BY
      <foreach collection="orderMap.keys" item="k" separator=",">
        ${k} ${orderMap[k]}
      </foreach>
    </if>

    <if test="rows != null">
      limit #{start},#{rows}
    </if>
  </select>

  <select id="findCount" parameterType="com.ggj.datacenter.model.vo.CenterChannelVo" resultType="java.lang.Long">
    select count(*) from center_channel
    <where>
      1 = 1
      <if test="channelName != null">
        and channel_name = #{channelName,jdbcType=VARCHAR}
      </if>
      <if test="channelStatus != null">
        and channel_status = #{channelStatus,jdbcType=INTEGER}
      </if>
      <if test="channelType != null">
        and channel_type = #{channelType,jdbcType=INTEGER}
      </if>
      <if test="limitType != null">
        and limit_type = #{limitType,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>